pandas==2.3.0

streamlit

matplotlib==3.10.3

pytextrank==3.3.0

google-play-scraper==1.2.7

app_store_scraper

googletrans==3.1.0a0

nltk

seaborn

wordcloud

snscrape==0.7.0.20230622

plotly

deep-translator

textblob

vaderSentiment

# transformers==4.53.1

scikit-learn==1.7.0

pyLDAvis==3.2.2

bertopic==0.17.0

summarizer==0.0.7

langdetect==1.0.9

streamlit-autorefresh==1.0.1

pycountry==24.6.1

kaleido==1.0.0

streamlit-plotly-events==0.0.6

fpdf==1.7.2

nest-asyncio==1.6.0

qrcode==8.2

aiohttp===3.12.15
